@page "/Fixtures"

@inject IFixturesWebAPI _fixturesWebAPI

@if (_fixtures == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fixture in _fixtures)
            {
                <tr>
                    <td>@fixture.No</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Fixture[]? _fixtures;

    protected override async Task OnInitializedAsync()
    {
        _fixtures = (await _fixturesWebAPI.GetAllAsync()).ToArray();
    }
}
